* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 256px;
  height: 256px;
  border: 2px solid red;
}

.square {
  height: 25%;
  width: 25%;
  border: 1px solid white;
  background-color: black;
}